In [7]:
for i in range (1,11):
    if i % 2 != 0:
        continue

    print (i)

2
4
6
8
10

In [1]:
for i in range (1,11):
    if i % 2 == 0:
        continue

    print (i)

1
3
5
7
9

In [19]:
products = ["iphone", "ipad", "Macbook"]
regions = ["USA", "China", "India"]
revenue = [ 20, 23, 45, 18, 17, 12, 12, 9, 5]

In [15]:
for product in products:
    for region in regions:
        print(f"{products}{regions}")

['iphone', 'ipad', 'Macbook']['USA', 'China', 'India']
['iphone', 'ipad', 'Macbook']['USA', 'China', 'India']
['iphone', 'ipad', 'Macbook']['USA', 'China', 'India']
['iphone', 'ipad', 'Macbook']['USA', 'China', 'India']
['iphone', 'ipad', 'Macbook']['USA', 'China', 'India']
['iphone', 'ipad', 'Macbook']['USA', 'China', 'India']
['iphone', 'ipad', 'Macbook']['USA', 'China', 'India']
['iphone', 'ipad', 'Macbook']['USA', 'China', 'India']
['iphone', 'ipad', 'Macbook']['USA', 'China', 'India']

In [25]:
i = 0
for product in products:
    for region in regions:
        rev  = revenue[i]
        i = i + 1 
        print(f"{product} {region} revenue:" , rev)

iphone USA revenue: 20
iphone China revenue: 23
iphone India revenue: 45
ipad USA revenue: 18
ipad China revenue: 17
ipad India revenue: 12
Macbook USA revenue: 12
Macbook China revenue: 9
Macbook India revenue: 5

In [31]:
for i in range (5):
    print(i)

0
1
2
3
4

In [27]:
for i in range (5):
    print(i)
else:
    print("for loop terminated")

0
1
2
3
4
for loop terminated