In [13]:
expenses = [1200, 1300, 1500, 1700]

total_expense = 0
for expense in expenses:
    total_expense = total_expense + expense

print(total_expense)

5700

In [15]:
expenses = [1200, 1300, 1500, 1700]

total_expense = 0
for expense in expenses:
    total_expense = total_expense + expense

    print(total_expense)

1200
2500
4000
5700

In [17]:
total_expenses = 0

for i in range(len(expenses)):
    expense = expenses[i]
    print(f"Month {i+1},expense:{expense}")
    total_expense += expense

print("total:", total_expense)

Month 1,expense:1200
Month 2,expense:1300
Month 3,expense:1500
Month 4,expense:1700
total: 11400

In [19]:
total_expenses = 0

for i in range(len(expenses)):
    expense = expenses[i]
    print(f"Month {i+1},expense:{expense}")
    total_expense += expense

    print("total:", total_expense)

Month 1,expense:1200
total: 12600
Month 2,expense:1300
total: 13900
Month 3,expense:1500
total: 15400
Month 4,expense:1700
total: 17100

In [23]:
total_expenses = 0

for i, expense in enumerate (expenses):
    print(f"Month {i+1},expense:{expense}")
    total_expense += expense

print("total:", total_expense)

Month 1,expense:1200
Month 2,expense:1300
Month 3,expense:1500
Month 4,expense:1700
total: 22800

In [31]:
monthly_sales = [42, 38, 33, 38, 40, 45]

thresold = 35

for sales_amount in monthly_sales:
    if sales_amount < thresold:
        print(f"Sales amount {sales_amount} is below the thresold")
        #break
    else:
        print(f"Sale amount {sales_amount} is above the thresold")

Sale amount 42 is above the thresold
Sale amount 38 is above the thresold
Sales amount 33 is below the thresold
Sale amount 38 is above the thresold
Sale amount 40 is above the thresold
Sale amount 45 is above the thresold

In [33]:
monthly_sales = [42, 38, 33, 38, 40, 45]

thresold = 35

for sales_amount in monthly_sales:
    if sales_amount < thresold:
        print(f"Sales amount {sales_amount} is below the thresold")
        break
    else:
        print(f"Sale amount {sales_amount} is above the thresold")

Sale amount 42 is above the thresold
Sale amount 38 is above the thresold
Sales amount 33 is below the thresold

In [41]:
monthly_sales = [42, 38, 33, 38, 40, 45]
months = ["Jan", "Feb", "March", "April", "May", "June"]


thresold = 35

for sales_amount,months in zip (monthly_sales, months):
    if sales_amount < thresold:
        print(f"Sales amount {sales_amount} is below the thresold")
        #break
    else:
        print(f"Sale amount {sales_amount} is above the thresold")

Sale amount 42 is above the thresold
Sale amount 38 is above the thresold
Sales amount 33 is below the thresold
Sale amount 38 is above the thresold
Sale amount 40 is above the thresold
Sale amount 45 is above the thresold

In [45]:
monthly_sales = [42, 38, 33, 38, 40, 45]
months = ["Jan", "Feb", "March", "April", "May", "June"]


thresold = 35

for sales_amount,months in zip (monthly_sales, months):
    print(sales_amount, months)

42 Jan
38 Feb
33 March
38 April
40 May
45 June

In [2]:
monthly_sales = [42, 38, 33, 38, 40, 45]
months = ["Jan", "Feb", "March", "April", "May", "June"]


thresold = 35

for sales_amount,months in zip (monthly_sales, months):
    
    if sales_amount < thresold:
        print(f"Sales amount {sales_amount,months} in month is below the thresold")
        #break
    else:
        print(f"Sale amount {sales_amount,months} in month is above the thresold")

Sale amount (42, 'Jan') in month is above the thresold
Sale amount (38, 'Feb') in month is above the thresold
Sales amount (33, 'March') in month is below the thresold
Sale amount (38, 'April') in month is above the thresold
Sale amount (40, 'May') in month is above the thresold
Sale amount (45, 'June') in month is above the thresold

In [4]:
a= [1, 2, 3,]
b= ["a", "b", "c"]
tuple (zip(a, b))

((1, 'a'), (2, 'b'), (3, 'c'))