In [1]:
for i in range(2,10):
    if i % 5 == 0:
        break
    print(i)

2
3
4

In [7]:
fruits = ["apple", "banana", "cherry", "date"]
fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'date', 'orange']

In [21]:
age = 17
if age >= 30:
    print("Adult")
elif age > 18 and age < 30:
    print("Young adult")
else:
    print("Minor")

Minor

In [23]:
 lst = [1, [2, 3], 4, [5, [6, 7]]]
print(lst[3][1][0])

6

In [29]:
prices = [300, 50, 1200, 10]
sorted(prices)
print(prices[2])

1200

In [31]:
for i in range(4):
    print(i)

0
1
2
3

In [33]:
n = -5
message = "Negative" if n >= 0 else "Positive"
print(message)

Positive

In [41]:
office_supplies = ["pen", "paper", "stapler"]
kitchen_supplies = ["fork", "knife", "spoon"]
combined_list =  kitchen_supplies + office_supplies
print(combined_list[2: 4])

['spoon', 'pen']

In [43]:
animals = ["cat", "dog", "rabbit", "wolf"]
animals.remove("lion")

ValueError: list.remove(x): x not in list